@import './base.css';

:root {
}

.credential,
.credential input {
  width: 15em;
}

:root:not([class='my-app-dark']) {
  --avatar-border-color: var(--p-surface-800);
  --self-chat-color: var(--p-secondary-200);
  --other-chat-color: var(--p-secondary-100);
  --dark-mode-button-color: var(--p-surface-100);
  --p-surface: var(--p-surface-100);
}

:root[class='my-app-dark'] {
  --avatar-border-color: var(--p-surface-300);
  --self-chat-color: var(--p-primary-700);
  --other-chat-color: var(--p-primary-900);
  --dark-mode-button-color: var(--p-surface-800);
  --p-surface: var(--p-surface-800);
}
